@import "fonts.css";
@import "normalize.css";
@import "variables.css";




body{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: rgba(20 16 36 / 0.7);
    border-color: var(--color-light);
}
.container{
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);

}
.container-wide{
    max-width: 1920px;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-dark);
}
a{
    text-decoration: none;
    color: var(--color-light);

}
.button{
    width: 280px;
    height: 79px;
    background-color: var(--color-orange);
    color: var(--color-light);
    border-radius: 5px;
}

.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 95px;
    background-color: var(--color-dark);
    min-height: var(--header-height);
    column-gap: 20px;
}
.main-nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}
.main-logo{
    font-weight: 700;
    font-size: 30px;
}
.main-logo a{


}
.main-logo a:hover{
    color: var(--color-orange);
    animation-duration: var(--transition-duration);
}
.main-nav-list{
    font-weight: 400;
    font-size: clamp(20px, 1.04vw, 20px);
    color: var(--color-light);
}
.main-nav-list a:hover{
    color: var(--color-orange);
    animation-duration: var(--transition-duration);
}

.main-nav-number{
    font-size: clamp(25px, 1.56vw, 30px);
    font-weight: 600;
}
.main-nav-number{
    color: var(--color-orange);
    animation-duration: var(--transition-duration);
}
.main-nav-number a{
    color: var(--color-light);
    text-decoration: none;
}
.registration{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark);
    column-gap: 160px;
    padding-top: 92px;
    margin-bottom: 120px;

}
.registration-text{
    display: flex;
    flex-direction: column;
}
.main-title{
    font-weight: 600;
    font-size: clamp(50px, 3.65vw, 70px);
    color: var(--color-light);
    margin-bottom: 20px;
}
.registration-paragraph{
    font-size: clamp(15px, 1.04vw, 20px);
    color: var(--color-light);
    margin-bottom: 50px;
}
.registration-link{
    color: var(--color-light);
    text-decoration: none;
    font-size: 18px;
    text-align: center;

}

.registration-image-girl{
    width: 783px;
    height: auto;
}
.advantages-presentation-text{
    font-weight: 600;
    font-size: 30px;
    color: var(--color-dark);
    max-width: 890px;
    padding-bottom: 60px;
}

.advantages-numbers-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;
}
.advantages-numbers-list{
    display: flex;
    flex-direction: column;


}
.advantages-numbers-list-number{
    font-weight: 600;
    font-size: 70px;
    color: var(--color-orange);
}
.advantages{
    padding-bottom: 120px;
}
.receiving{
    margin-bottom: 111px;
}
.receiving-advantages{
    padding-top: 100px;
}
.receiving-advantages-title{
    font-weight: 600;
    font-size: 45px;
    color: var(--color-dark);
    margin-bottom: 60px;
}
.receiving-card-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;
}
.receiving-card-list{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-bottom: 109px;
}
.receiving-card-list-title{
    font-weight: 600;
    font-size: 24px;
    color: var(--color-dark);
}
.accent::after{
    content: url("../icons/icon1.svg");
    padding-left: 10px;
    padding-bottom: 14px;

}
.trainers-title{
    font-weight: 600;
    font-size: 45px;
    color: var(--color-dark);
    margin-bottom: 60px;
}
.trainers-profile-item{
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}
.trainers-profile-list{
    display: flex;
    flex-direction: column;
    margin-bottom: 77px;
    min-width: 19vw;
    height: 80vh;
    scroll-snap-align: start;
}
.trainers-profile-image{
    margin-bottom: 20px;
    display: block;
    width: 360px;
    height: auto;
}
.trainers-profile-name{
    font-weight: 600;
    font-size: 24px;
    color: var(--color-dark);
    margin-bottom: 10px;
}
.trainers-profile-job{
    margin-bottom: 20px;
}
.trainers-profile-link{
    color: var(--color-orange);
}

.training-package-title{
    font-weight: 600;
    font-size: 45px;
    color: var(--color-dark);
    margin-bottom: 60px ;
}
.training-package-card-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;

}
.training-package-card-list{
    display: flex;
    flex-direction: column;
    padding: 40px;
    border: 1px solid rgba(20, 16, 36, 0.2);
    border-radius: 20px;
    margin-bottom: 140px;
}
.training-package-card-name{
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: var(--color-dark);
    margin-bottom: 63px;
}
.training-package-card-price{
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    color: var(--color-dark);
    margin-bottom: 20px;
}
.training-package-card-direction{
    color: var(--color-dark);
    margin-bottom: 60px ;
    text-align: center;

}
.training-package-card-list1{
    background-color: var(--color-dark);
    margin-bottom: 120px;

}
.training-package-card-name1{
    color: var(--color-light);
}
.training-package-card-price1{
    color: var(--color-light);
}
.training-package-card-direction1{
    color: var(--color-light);
}


@media (max-width: 1110px){
    .main-logo{
        font-size: 18px;
    }
    .main-nav-item{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
    .main-nav-number{

    }

}

