.registration{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark);
    column-gap: 160px;
    padding-top: 92px;
    margin-bottom: 120px;

}
.registration-text{
    display: flex;
    flex-direction: column;
}
.main-title{
    font-weight: 600;
    font-size: clamp(50px, 3.65vw, 70px);
    color: var(--color-light);
    margin-bottom: 20px;
}
.registration-paragraph{
    font-size: clamp(15px, 1.04vw, 20px);
    color: var(--color-light);
    margin-bottom: 50px;
}
.registration-link{
    color: var(--color-light);
    text-decoration: none;
    font-size: 18px;
    text-align: center;

}

.registration-image-girl{
    width: 783px;
    height: auto;
}